<a href="https://colab.research.google.com/github/eforta-stack/DS-Projects/blob/main/NFLRush_BCR.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
pip install nflfastpy

Collecting nflfastpy
  Downloading nflfastpy-0.0.14-py3-none-any.whl (3.5 kB)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from nflfastpy) (2.23.0)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.7/dist-packages (from nflfastpy) (3.2.2)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from nflfastpy) (1.3.5)
Collecting pyreadr
  Downloading pyreadr-0.4.4-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (361 kB)
     |████████████████████████████████| 361 kB 14.1 MB/s
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->nflfastpy) (3.0.8)
Requirement already satisfied: numpy>=1.11 in /usr/local/lib/python3.7/dist-packages (from matplotlib->nflfastpy) (1.21.6)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->nflfastpy) (1.4.2)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib->nflfastpy) (0.11.0)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->nflfastpy) (2.8.2)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from kiwisolver>=1.0.1->matplotlib->nflfastpy) (4.2.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.1->matplotlib->nflfastpy) (1.15.0)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas->nflfastpy) (2022.1)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->nflfastpy) (2021.10.8)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->nflfastpy) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->nflfastpy) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->nflfastpy) (2.10)
Installing collected packages: pyreadr, nflfastpy
Successfully installed nflfastpy-0.0.14 pyreadr-0.4.4

In [3]:
import nflfastpy as nfl

df = nfl.load_pbp_data(year=2021)
df.head()

,play_id,game_id,old_game_id,home_team,away_team,season_type,week,posteam,posteam_type,defteam,...,out_of_bounds,home_opening_kickoff,qb_epa,xyac_epa,xyac_mean_yardage,xyac_median_yardage,xyac_success,xyac_fd,xpass,pass_oe
0,1,2021_01_ARI_TEN,2021091207,TEN,ARI,REG,1,NaN,NaN,NaN,...,0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,40,2021_01_ARI_TEN,2021091207,TEN,ARI,REG,1,TEN,home,ARI,...,0,1,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,55,2021_01_ARI_TEN,2021091207,TEN,ARI,REG,1,TEN,home,ARI,...,0,1,-1.399805,NaN,NaN,NaN,NaN,NaN,0.491433,-49.143299
3,76,2021_01_ARI_TEN,2021091207,TEN,ARI,REG,1,TEN,home,ARI,...,0,1,0.032412,1.165133,5.803177,4.0,0.896654,0.125098,0.697346,30.265415
4,100,2021_01_ARI_TEN,2021091207,TEN,ARI,REG,1,TEN,home,ARI,...,0,1,-1.532898,0.256036,4.147637,2.0,0.965009,0.965009,0.978253,2.174652

In [4]:
df_weekly = df.groupby(['rusher_id','rusher','week'])['yards_gained'].sum().reset_index()

df_weekly[df_weekly['rusher']=='J.Taylor']

       rusher_id    rusher  week  yards_gained
1702  00-0036096  J.Taylor     2           3.0
1703  00-0036096  J.Taylor     3           2.0
1704  00-0036096  J.Taylor     4           0.0
1705  00-0036096  J.Taylor     7          21.0
1706  00-0036096  J.Taylor    10          11.0
1721  00-0036223  J.Taylor     1          56.0
1722  00-0036223  J.Taylor     2          51.0
1723  00-0036223  J.Taylor     3          64.0
1724  00-0036223  J.Taylor     4         103.0
1725  00-0036223  J.Taylor     5          53.0
1726  00-0036223  J.Taylor     6         145.0
1727  00-0036223  J.Taylor     7         107.0
1728  00-0036223  J.Taylor     8          70.0
1729  00-0036223  J.Taylor     9         172.0
1730  00-0036223  J.Taylor    10         116.0
1731  00-0036223  J.Taylor    11         185.0
1732  00-0036223  J.Taylor    12          83.0
1733  00-0036223  J.Taylor    13         143.0
1734  00-0036223  J.Taylor    15         170.0
1735  00-0036223  J.Taylor    16         108.0
1736  00-0036223  J.Taylor    17         108.0
1737  00-0036223  J.Taylor    18          77.0

In [5]:
df_weekly = df_weekly[df_weekly['week']<19]

In [6]:
df_weekly = df_weekly.pivot_table(values = 'yards_gained',index = ['week'], columns = 'rusher')

df_weekly.head()

rusher,A.Abdullah,A.Armah,A.Bachman,A.Brewer,A.Brown,A.Collins,A.Dalton,A.Dillon,A.Dulin,A.Ekeler,...,T.Tremble,T.Williams,V.Jefferson,W.Gallman,W.Smallwood,Z.Ertz,Z.Jones,Z.Moss,Z.Pascal,Z.Wilson
week,,,,,,,,,,,,,,,,,,,,,
1,4.0,NaN,NaN,NaN,6.0,NaN,NaN,19.0,NaN,57.0,...,NaN,65.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0
2,NaN,NaN,NaN,NaN,NaN,25.0,NaN,18.0,NaN,56.0,...,NaN,77.0,NaN,NaN,NaN,NaN,NaN,26.0,NaN,-1.0
3,24.0,5.0,NaN,NaN,3.0,8.0,NaN,18.0,-7.0,55.0,...,7.0,22.0,NaN,NaN,NaN,NaN,NaN,60.0,NaN,2.0
4,NaN,2.0,NaN,0.0,NaN,44.0,NaN,81.0,NaN,117.0,...,NaN,NaN,NaN,29.0,NaN,NaN,NaN,61.0,NaN,-4.0
5,2.0,NaN,NaN,NaN,NaN,47.0,NaN,30.0,NaN,66.0,...,NaN,6.0,NaN,2.0,NaN,NaN,NaN,37.0,NaN,NaN

In [7]:
df_weekly.fillna(0, inplace=True)

df_weekly.iloc[:, 0:-1] = df_weekly.iloc[:, 0:-1].cumsum()

df_weekly.head()

rusher,A.Abdullah,A.Armah,A.Bachman,A.Brewer,A.Brown,A.Collins,A.Dalton,A.Dillon,A.Dulin,A.Ekeler,...,T.Tremble,T.Williams,V.Jefferson,W.Gallman,W.Smallwood,Z.Ertz,Z.Jones,Z.Moss,Z.Pascal,Z.Wilson
week,,,,,,,,,,,,,,,,,,,,,
1,4.0,0.0,0.0,0.0,6.0,0.0,0.0,19.0,0.0,57.0,...,0.0,65.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0
2,4.0,0.0,0.0,0.0,6.0,25.0,0.0,37.0,0.0,113.0,...,0.0,142.0,0.0,0.0,0.0,0.0,0.0,26.0,0.0,-1.0
3,28.0,5.0,0.0,0.0,9.0,33.0,0.0,55.0,-7.0,168.0,...,7.0,164.0,0.0,0.0,0.0,0.0,0.0,86.0,0.0,2.0
4,28.0,7.0,0.0,0.0,9.0,77.0,0.0,136.0,-7.0,285.0,...,7.0,164.0,0.0,29.0,0.0,0.0,0.0,147.0,0.0,-4.0
5,30.0,7.0,0.0,0.0,9.0,124.0,0.0,166.0,-7.0,351.0,...,7.0,170.0,0.0,31.0,0.0,0.0,0.0,184.0,0.0,0.0

In [8]:
top_rushers = set()

for index, row in df_weekly.iterrows():
    top_rushers |= set(row[row > 0].sort_values(ascending=False).head(10).index)

df_weekly = df_weekly[top_rushers]

df_weekly.head()

rusher,T.Williams,A.Gibson,J.Taylor,E.Mitchell,C.Edwards-Helaire,N.Chubb,M.Ingram,D.Singletary,A.Kamara,A.Ekeler,...,L.Fournette,D.Harris,J.Robinson,T.Pollard,A.Jones,C.McCaffrey,D.Henry,D.Cook,C.Carson,D.Henderson
week,,,,,,,,,,,,,,,,,,,,,
1,65.0,90.0,56.0,104.0,43.0,83.0,85.0,72.0,83.0,57.0,...,32.0,100.0,25.0,14.0,9.0,98.0,58.0,61.0,91.0,70.0
2,142.0,159.0,83.0,146.0,89.0,178.0,126.0,154.0,88.0,113.0,...,84.0,131.5,72.0,123.0,76.0,170.0,240.0,192.0,122.0,123.0
3,164.0,190.0,116.0,146.0,189.0,262.0,147.0,180.0,177.0,168.0,...,92.0,145.5,160.0,183.0,158.0,201.0,355.0,192.0,202.0,123.0
4,164.0,253.0,167.5,146.0,291.0,362.0,171.0,259.0,297.0,285.0,...,184.0,141.5,238.0,250.0,206.0,201.0,512.0,226.0,232.0,212.0
5,170.0,313.0,220.5,189.0,304.0,523.0,212.0,284.0,368.0,351.0,...,251.0,199.5,387.0,325.0,309.0,201.0,642.0,226.0,232.0,294.0

In [9]:
%%capture
!pip install bar-chart-race

In [10]:
import bar_chart_race as bcr

df_weekly.index = 'Week ' + df_weekly.index.astype(str)

bcr.bar_chart_race(df = df_weekly, 
                   n_bars = 10, 
                   sort='desc',
                   title='2021 Rushing Leaders by Week',
                   period_length=1000,
                   interpolate_period=False,
                   steps_per_period=10,
                   fixed_max=True,
                   filename = '2021_rushing_bar_chart.mp4')